<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>지출 관리</title>
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/budget.css" />
    <link rel="stylesheet" href="/css/budget-form.css" />
    <script src="/script/markCategory.js" defer></script>
  </head>
  
  <body class="grid-container">
  
	<div class="background">
		<div class="budget-form" th:object="${budget}">
			<div class="close-container">
				<a href="/budget">
					<img src="/images/close.svg" alt="close" />
				</a>
			</div>

			<div class="heading-container">
				<h2>예산 지출 계획</h2>
				<h4>지정한 기간동안 사용할 지출 금액을 설정합니다.</h4>
			</div>

			<div class="date-container">
				<label for="start_date">예산 시작일</label>
				<label for="end_date">예산 종료일</label>
				<input type="date" th:field="*{startDate}" id="start_date" value="${#temporals.format(budget.startDate, 'yyyy-MM-dd')}" />
				<p>~</p>
				<input type="date" th:field="*{endDate}" id="end_date" value="${#temporals.format(budget.endDate, 'yyyy-MM-dd')}" />
			</div>
			<div class="date-error-container">
				<div th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}" class="error"></div>
				<div th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}" class="error"></div>
			</div>

			<div class="content-container">
				<label for="name">예산 계획 내용</label>
				<input type="text" th:field="*{name}" id="name" th:value="${budget.name}" />
				<div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
			</div>

			<div class="budget-container">
				<label for="amount">총 예산 금액</label>
				<input type="number" th:field="*{amount}" id="amount" th:value="${budget.amount}" />
				<div th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}"></div>
			</div>

			<div class="btn-container">
				<button class="btn" th:onclick="'updateBudget(' + ${budget.id} + ')'">수정</button>
			</div>
		</div>
	</div>
    
    <!-- 헤더 섹션 -->
    <div th:replace="~{fragments/header::header}"></div>

    <!-- 카테고리 섹션 -->
    <div th:replace="~{fragments/category::category}"></div>

    <!-- 컨텐츠 섹션 -->
	<main>
		<div class="inner">
			<div class="heading">
				<div class="wrap">
					<h2 class="heading__main">예산 계획</h2>
					<h4 class="heading__sub">기간 내에 사용할 예산을 설정합니다.</h4>
					<div class="message"></div>
				</div>
				<a href="/budget/form" class="btn btn--add"> 
					<img src="/images/add.svg" alt="add" /> <span>계획 추가</span>
				</a>
			</div>
		</div>
	</main>
    
    <script defer>
	  const updateBudget = (id) => {
		  	console.log(id)
	        const name = document.getElementById('name').value;
	        const amount = document.getElementById('amount').value;
	        const start_date = document.getElementById('start_date').value;
	        const end_date = document.getElementById('end_date').value;
		  
	        const budgetDetails = {
	                id: id,
	                name: name,
	                amount: parseFloat(amount),
	                startDate: start_date,
	                endDate: end_date
	            };
	        
	        console.log("Budget Details:", budgetDetails);
	
	      fetch(`/budget/${id}`, {
	          method: 'PUT',
	          headers: {
	              'Content-Type': 'application/json'
	          },
	          body: JSON.stringify(budgetDetails)
	      })
	      .then(response => {
	          if (response.ok) {
	              return response.json();
	          } else {
	        	  return response.json().then(errorData => {
	        		  const errorMessages = Object.values(errorData).join(' ');
	                  throw new Error(errorMessages);
	              });
	          }
	      })
	      .then(updatedBudget => {
	          /* alert('예산 수정 성공: ' + JSON.stringify(updatedBudget)); */
	          location.href = '/budget';
	      })
	      .catch(error => {
	          alert('Error: ' + error.message);
	      });
	  }
  	</script>
  </body>
</html>
