<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>지출 관리</title>
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/budget.css">
    <script src="/script/markCategory.js" defer></script>
  </head>
  
  <body class="grid-container">
    <!-- 헤더 섹션 -->
    <div th:replace="~{fragments/header::header}"></div>

    <!-- 카테고리 섹션 -->
    <div th:replace="~{fragments/category::category}"></div>

    <!-- 컨텐츠 섹션 -->
	<div th:replace="~{fragments/budget::main}"></div>
    
    
   <script>
	  const deleteBudget = (id) => {
	      fetch(`/budget/${id}`, { method: "DELETE" })
	        .then(response => {
	          let messageDiv = document.querySelector(".message");
	          
	          if(!messageDiv) {
	        	  messageDiv = document.createElement('div');
	        	  messageDiv.classList.add('message');
	        	  document.querySelector('.heading > .wrap').appendChild(messageDiv);
	          }
	          
	          messageDiv.style.color = response.ok ? 'green' : 'red';
	          messageDiv.innerText = response.ok ? '삭제 완료' : '존재하지 않는 예산 계획입니다.';
	          
	          if(response.ok) location.reload();
	        })
	        .catch(error => console.error("Error:", error));
	    }
  	</script>
  </body>
</html>
