<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>회원가입</title>
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/signup.css">
</head>
<body class="flex-container">
  <div class="background">
    <form th:action="@{/member/register}" th:object="${member}" method="post" class="signup-form">
      <div class="close-container">
        <a href="/">
          <img src="/images/close.svg" alt="close">
        </a>
      </div>
      
      <h2>회원가입</h2>
  
      <div class="input-container">
        <label for="email">이메일 주소</label>
        <input type="email" name="email" id="email" th:field="*{email}">
        <p th:if="${#fields.hasErrors('email')}" th:text="${#fields.errors('email')}" class="error"></p>
      </div>
      <div class="input-container">
        <label for="password">비밀번호</label>
        <input type="password" name="password" id="password" th:field="*{password}">
        <p th:if="${#fields.hasErrors('password')}" th:text="${#fields.errors('password')}" class="error"></p>
      </div>
      <div class="input-container">
        <label for="name">사용자명</label>
        <input type="text" name="name" id="name" th:field="*{name}">
        <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error"></p>
      </div>
      <p th:if="${error}" th:text="${error}" class="error"></p>
      <button class="btn register">등록하기</button>
      
      <a href="/login" class="to-login">이미 계정이 있으신가요?</a>
    </form>
  </div>
  
  <header>
    <img src="/images/logo.svg" alt="로고" class="logo" />
  </header>

  <main>
    <section class="desc">
      <div class="desc__sub">
        돈 걱정, 이제 그만! <br>
        페이가드와 함께 지출을 스마트하게 관리하세요.
      </div>

      <div class="desc__main">
        <h1>
          지갑을 <br>
          지켜주는 <br>
          예산 지킴이 <br>
          <strong>페이가드</strong>
        </h1>
        <img src="/images/coin.png" alt="coin" class="icon icon--coin">
        <img src="/images/wallet.png" alt="wallet" class="icon icon--wallet">
      </div>

      <a href="./login.html" class="btn btn--enter">입장하기</a>
    </section>
  </main>
</body>
</html>